body { 
	font-family: Helvetica, sans-serif; 
	background-color: #ffffff;
}

.fondo{
	background-image: url('../img/fondo2.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0em;
	margin: 0em;
	width: 100%;
}

.registro{
	padding: 0em;
	margin: 0em;
}

.registro img{
	padding: 0em;
	margin: 0em;
	width: 100%;
}

h2, h4 { 
	margin-top:0; 
	text-align: center;
	text-decoration: none;
}

a:link   
{   
 text-decoration:none;
 color: #000000;   
} 

form { 
	/*margin-top: 15px; */
}
form > input { 
	margin-right: 15px; 
	color: #000000;
}

.texto {
	background-color: #ffe001;
	color: #000000;
	font-weight: bold;
}

.imagen{
	text-align: center;
}

.imagen img{
	padding-top:234px; 
	width: 431px;
	height: 698px;
}

.nombre{
	padding-top: 30px;
	color: #000000;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
.boton{
	color: #ffffff;
	font-family: Helvetica, sans-serif; 
	font-size: 1.2em;
	background:  #b30004;
	margin-right: 35px;
	padding: 10px;
	size: 100px;
}

#results { 
	float:right; margin-left:20px; margin-top: 0px;  padding:1px; border:4px solid #87bf44; background:#ffffff; width: 310px;
			height: 230px;
}